.row.text-center.mt-5.pt-5
    .col-6.text-right
        = link_to t('user.index.show_profile'), user_path(current_user), class: 'btn btn-info w-50'
    .col-6.text-left
        = link_to t('common.all_users'), users_path, class: 'btn btn-info w-50'
