.bg-black  {
    background: #000;
}

.text-white {
    color: #fff;
}

.site-header {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        color: white;
        text-decoration: none;
    }
}

.main-container {
    input {
        border-radius: 0;
    }

    input[type=text], input[type=password] {
        width: 25%;
        padding: 5px;
        border: 1px solid #ccc;
    }
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
  }

.content {
    flex: 1 0 auto;
}

.main-footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: #000;
    } 
    flex-shrink: 0;
}